{% extends 'extend.html' %}
{% block body %}
<div class="container"><h4> Celebrities</h4>

    <div class="row">
        {% for i in celeb %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem; background-color:grey">
                <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" style="width:287px; height:250px">
                    <div class="card-body" >
                        <h5 class="card-title">{{i.name}}({{i.age}})</h5>
                        <p class="card-text">{{i.year}}</p>
                        <a href="{% url 'details' i.id %}" style="color: white">More..</a><br>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
<br>
<br>
<a href="{% url 'add' %}">Add</a>
</div>
{% endblock %}
